*{
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.principal{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.top{
    position: relative;
    z-index: 1;
    background: #4484ce;
    display: flex;
    width: 100vw;
    height: 65px;
    align-items: center;
    justify-content: center;
    margin-bottom: none;
    
}
.logo{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin-top: 60px;
    
}

.ifeed,.ifriend,.igroup,.ichat{
    width: 50px;
    height: 50px;
    background: #4484ce;
    border: #ffff solid 2px;
    border-radius: 100%;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;

}
.ifeed{
    background-image: url(../img/icon/feed.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    color: #ffff;
}
.ifriend{
    background-image: url(../img/icon/friend.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    color: #ffff;
}
.igroup{
    background-image: url(../img/icon/group.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    color: #ffff;
}
.ichat{
    background-image: url(../img/icon/chat.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    color: #ffff;
}
.search{
    width: 25%;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.lupa{
    width: 35px;
    height: 35px;
    background: #ffff;
    margin-right: 10px;
    border-radius: 100%;
    background-image: url(../img/icon/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    color: #ffff;
}
.txtSearch{
    width: 500px;
    border-radius: 50px;
    border: none;
    padding-left: 15px;
    margin-right: 15px;
}
.conteiner{
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-top: 0px;
}
.left{
    z-index: 0;
    
    top: 0px; /* Same as header height */
    left: 0;
    width: 30vw;
    height: calc(100vh);
    background-color: #eeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.centerCenter{
    
    top: 0px; /* Same as header height */
    left: 0;
    width: 60vw;
    overflow-y: hidden;
    height: calc(100vh - 65px);
    padding: 0px;
    background: transparent;
}
.center{
    z-index: -1;
    
    top: 0px; /* Same as header height */
    left: 0;
    width: 100%;
    overflow-y: auto;
    
    background: #ffff;
    height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.right{
    z-index: 0;
    
    top: 0px; /* Same as header height */
    width: 30vw;
    height: calc(100vh);
    background: transparent;
    overflow-y: auto;

    color: #5e5e5eee;
    
}
.person{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border: #4484ce solid 5px;
    border-radius: 100%;
    margin-bottom: 20px;
}
.bio{
    width: 250px;
    height: auto;
    max-height: 100px;
    overflow-y: auto;
    margin-top: 20px;
    text-align: center;
    text-justify: auto;

}
.iconsPerfil{
    margin-top: 20px;
    margin-bottom: 20px;
}
.iconP{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.txtIcon{
    margin-left: 10px;
}
.editar{
    width: 150px;
    height: 35px;
    color: #ffff;
    background: #4484ce;
    border-radius: 30px;
    border-style: none;

}
.end{
    z-index: 0;
    margin-top: 15px;
    width: 150px;
    height: 35px;
    color: #bf2222;
    background: #ffff;
    border-radius: 30px;
    border: #bf2222 solid 2px;
    cursor: pointer;
}
.content{
    padding: 30px;
    margin-top: 25px;
    height: calc(100vh);
    background: transparent;
}